In [9]:
import pandas as pd
# import pandas as pd
import matplotlib.pyplot as plt
# from config import username, password
%matplotlib inline

# SQL Alchemy
from sqlalchemy import create_engine

engine = create_engine('postgresql://postgres:password@localhost:5432/DB_Employees')
connection = engine.connect()
# from sqlalchemy import create_engine
# engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/employees')
# connection = engine.connect()



# MatPlotLib/NumPy/SciPy
%matplotlib inline
# from matplotlib import pyplot as plt
import numpy as np
import scipy.stats as stats

In [10]:
departments = pd.read_sql('select * from departments', connection)
departments

  dept_no           dept_name
0    d001           Marketing
1    d002             Finance
2    d003     Human Resources
3    d004          Production
4    d005         Development
5    d006  Quality Management
6    d007               Sales
7    d008            Research
8    d009    Customer Service

In [12]:
employees = pd.read_sql('select * from employees', connection, parse_dates=['birth_date', 'hire_date'])
employees.head()

Empty DataFrame
Columns: [emp_no, emp_title_id, birth_date, first_name, last_name, sex, hire_date]
Index: []

In [13]:
departments = pd.read_sql('select * from departments', connection)
departments.head()

  dept_no        dept_name
0    d001        Marketing
1    d002          Finance
2    d003  Human Resources
3    d004       Production
4    d005      Development

In [14]:
# salaries = pd.read_sql('select * from salaries', connection, parse_dates=['from_date', 'to_date'])
salaries = pd.read_sql('select * from salaries', connection)
salaries.head()

Empty DataFrame
Columns: [emp_no, salary]
Index: []

In [16]:
# Department_Manager = pd.read_sql('select * from Department_Manager', connection, parse_dates=['from_date', 'to_date'])
dept_manager = pd.read_sql('select * from department_manager', connection)
Department_Manager.head()

NameError: name 'Department_Manager' is not defined

In [9]:
Department_Manager.to_date = Department_Manager['to_date'].fillna(pd.to_datetime('2050-12-31'))
Department_Manager.head()

KeyError: 'to_date'

In [8]:
# titles = pd.read_sql('select * from titles', connection, parse_dates=['from_date', 'to_date'])
titles = pd.read_sql('select * from titles', connection)
titles.head()

NameError: name 'connection' is not defined

In [11]:
titles.to_date = titles['to_date'].fillna(pd.to_datetime('2050-12-31'))
titles.head()

KeyError: 'to_date'

In [12]:
employee_salaries = titles.merge(salaries, on='emp_no')
employee_salaries.head()

Empty DataFrame
Columns: [title, emp_no, salary]
Index: []

In [13]:
# employee_salaries_df = employee_salaries[['emp_no', 'title', 'salary']]
employee_title_salaries = employee_salaries.merge(titles, left_on='emp_title_id', right_on='title_id')
employee_title_salaries.head()

Empty DataFrame
Columns: [emp_no, title, salary]
Index: []

In [43]:
title_salaries = employee_title_salaries[['title', 'salary']] 
title_salaries.head()

DataError: No numeric types to aggregate

In [14]:
employee_salaries_df.hist(column='salary')

ValueError: hist method requires numerical columns, nothing to plot.

In [40]:
employees_grouped_by_title = employee_salaries_df.groupby(['title'])['salary'].mean()
employees_grouped_by_title

DataError: No numeric types to aggregate

In [41]:
employees_grouped_by_title.plot.bar()

NameError: name 'employees_grouped_by_title' is not defined